table{
  border:1px solid black;
  background-color: #A2B5BB;
}
.heading{
  text-align: center;
  margin-top: 10px;;
  color: #006E7F;
}
th.mat-sort-header-sorted {
  color: black;
}
mat-form-field {
  float: right;
}
.icon{
  float: right;

}